<!-- <p>popup works!</p> -->
<p-button (click)="showDialog()" label="留下評論" />

<p-toast />
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }">

  <ng-template #header>
    <div class="inline-flex items-center justify-center">
      <p-avatar [label]="new_userName ? new_userName.charAt(0).toUpperCase() : '?' " shape="circle" />
      <span class="font-bold whitespace-nowrap">{{ new_userName || '使用者' }}</span>
    </div>
  </ng-template>

  <div class="flex flex-col items-center gap-2">
    <p-rating #ratingValue="ngModel" [(ngModel)]="new_rating" required name="ratingValue"
      [invalid]="ratingValue.invalid && (ratingValue.touched || reviewForm.submitted)" [style]="{
        '--p-rating-icon-size': '24px'
    }" />
    @if (ratingValue.invalid) {
    <p-message severity="error" size="small" variant="simple">星數必填</p-message>
    }
  </div>

  <div class="my-2">
    <textarea pTextarea id="on_label" [(ngModel)]="new_commentText" rows="2" cols="30" style="width: 100%;"
      class="h-full p-2"></textarea>
  </div>
  <div class="card">
    <p-fileupload [customUpload]="true" (onSelect)="onSelect($event)" [multiple]="true" accept="image/*"
      maxFileSize="5000000" mode="advanced" chooseLabel="選擇" cancelLabel="取消" [showUploadButton]="false">
      <ng-template #empty>
        <div>可將圖片拖曳進方框內上傳</div>
      </ng-template>
    </p-fileupload>
  </div>

  <ng-template #footer>
    <p-button label="取消" [text]="true" severity="secondary" (click)="visible = false" />
    <p-button label="評論" [outlined]="true" severity="secondary" (click)="onSubmit(reviewForm)" type="submit" />
  </ng-template>
</p-dialog>