/* ===== (從麒修那裏co的css)posts-section ===== */

.bk {
  background: linear-gradient(180deg, #fbfff5 0%, #fbfdf6 50%, #ffffff 100%);
}

.forum-search {
  width: 100%;
  max-width: 480px;
}

.posts-section {
  margin: 0;
}

.posts-section__inner {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  color: #222;
}

.card-cover {
  position: relative;
  cursor: pointer;
  min-height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: transform 0.3s;
}

.card-cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 1;
  transition: opacity 0.3s;
}

.card-cover:hover {
  transform: scale(1.03);
}

.card-cover:hover::before {
  opacity: 0;
}


.card-cover>* {
  position: relative;
  z-index: 1;
}

.text-shadow-1 {
  text-shadow: 0 .1rem .1rem rgba(0, 0, 0, .75);
}