<div class="orders-page">
  <div class="orders-header">
    <div>
      <h2>我的訂單</h2>
      <p>查看你的露營預訂紀錄與付款狀態</p>
    </div>
  </div>

  <div class="orders-tabs">
    <button class="tab" [class.active]="activeTab === 'all'" (click)="activeTab = 'all'">
      全部
    </button>

    <button class="tab" [class.active]="activeTab === 0" (click)="activeTab = 0">
      待付款
    </button>

    <button class="tab" [class.active]="activeTab === 1" (click)="activeTab = 1">
      已付款
    </button>

    <button class="tab" [class.active]="activeTab === 4" (click)="activeTab = 4">
      已完成
    </button>

    <button class="tab" [class.active]="activeTab === 2" (click)="activeTab = 2">
      已取消
    </button>
  </div>

  <div class="orders-list">
    <!-- 訂單卡片 -->
    @for(data of filteredOrders; track data.orderId){
    <div class="order-card">
      <div class="order-top">
        <div>
          <span class="order-no">訂單編號： {{data.orderNumber}}</span>
          <p class="order-date">下訂日期：{{data.orderDate| date:'yyyy-MM-dd'}}</p>
        </div>

        <span class="status" [ngClass]="getOrderStatusClass(data.status)">
          {{ getOrderStatusText(data.status) }}
        </span>
      </div>
      @for (detail of data.details; track detail.orderDetailId){
      <div class="order-content">
        <img [src]="detail.campImageUrl || ''" alt="營地圖片" class="camp-img" />

        <div class="order-info">
          <h3>{{detail.campName}}</h3>

          <div class="info-row">
            <span>入住日期</span>
            <strong>{{detail.checkinDate}}</strong>
          </div>

          <div class="info-row">
            <span>退房日期</span>
            <strong>{{detail.checkoutDate}}</strong>
          </div>

          <div class="info-row">
            <span>營位類型</span>
            <strong>{{detail.accomType}}</strong>
          </div>


        </div>
      </div>}

      <div class="order-bottom">
        <div class="price">
          總金額
          <strong>NT{{data.totalAmount}}</strong>
        </div>

        <div class="actions">
          <button class="btn outline">查看詳情</button>
          <button class="btn primary">聯絡營主</button>
        </div>
      </div>
    </div>
    }

  </div>
</div>
