<div class="edit-page">
  <div class="edit-card">
    <div class="edit-header">
      <h2>編輯個人資料</h2>
      <p>更新你的會員資料與登入密碼</p>
    </div>

    <!-- 大頭貼區 -->
    <!-- <div class="avatar-section">
      <div class="avatar-preview">
        <img *ngIf="previewUrl || profilePhotoUrl" [src]="previewUrl || profilePhotoUrl" alt="會員頭像" />

        <div *ngIf="!previewUrl && !profilePhotoUrl" class="avatar-placeholder">
          <span>無圖片</span>
        </div>
      </div>

      <label class="upload-btn"> -->
    <!-- 更換大頭貼 -->
    <!-- <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
      </label>
    </div> -->

    <!-- 編輯表單 -->
    <form class="edit-form" (ngSubmit)="submitEdit()">
      <div class="form-group">
        <label>姓名</label>
        <input type="text" name="name" [(ngModel)]="memberData.Name" placeholder="請輸入姓名" />
      </div>

      <div class="form-group">
        <label>電話</label>
        <input type="text" name="phone" [(ngModel)]="memberData.Phone" placeholder="請輸入電話" />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="memberData.Email" disabled />
        <small>Email 不可修改</small>
      </div>

      <div class="password-box">
        <h3>修改密碼</h3>
        <p>如果不修改密碼，可以留空</p>

        <div class="form-group">
          <label>舊密碼</label>
          <input type="password" name="oldPassword" [(ngModel)]="memberData.oldPassword" placeholder="請輸入舊密碼" />
        </div>

        <div class="form-group">
          <label>新密碼</label>
          <input type="password" name="newPassword" [(ngModel)]="memberData.newPassword" placeholder="請輸入新密碼" />
        </div>

        <div class="form-group">
          <label>確認新密碼</label>
          <input type="password" name="confirmPassword" [(ngModel)]="memberData.confirmPassword"
            placeholder="再次輸入新密碼" />
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="cancel-btn" routerLink="/member-center">
          取消
        </button>

        <button type="submit" class="save-btn">
          儲存修改
        </button>
      </div>
    </form>
  </div>
</div>
