<div class="post-bg" *ngIf="post && post">

  <!-- Hero 封面區 -->
  <div class="hero-cover">
    <img [src]="getMainImage()" alt="Article Cover" />
    <div class="hero-overlay"></div>
  </div>

  <div class="container">
    <div class="hero-tags">
      <a routerLink="/forum">
        <p-tag value="回到社群" severity="info" class="me-2"></p-tag></a>
      <p-tag *ngIf="post.postCategoryName" [value]="post.postCategoryName!" severity="info" class="me-2"></p-tag>
    </div>

    <p-card styleClass="article-card" class="">
      <!-- 標題 -->
      <h1 class="article-title">
        {{ post.title }}
      </h1>

      <!-- 作者資訊列 -->
      <div class="meta-row">
        <div class="author-info">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
            size="large">
          </p-avatar>
          <div class="author-text">
            <span class="author-name">{{post.userName}} #{{ post.userId }}</span>
            <span class="author-meta">
              <i class="pi pi-calendar"></i> {{ post.postDate | date:'yyyy-MM-dd' }}
              @if(nowUserId === post.userId){
              <p-button icon="pi pi-cog" text (onClick)="editPost(post.postId)" size="small"></p-button>
              <p-button icon="pi pi-trash" severity="secondary" text (onClick)="deletePost(post.postId)"
                size="small"></p-button>
              }
            </span>
          </div>
        </div>

      </div>
      <p-divider></p-divider>

      <!-- 文章正文 -->
      <article class="article-content">
        <p>{{ post.mainContent }}</p>

        @for(p of post.moreImages;track p.imageUrl){
        <img class="w-100 p-1" [src]="p.imageUrl" alt="附圖" />
        }

      </article>

      <p-divider></p-divider>

      <!-- 底部互動區 -->
      <div class="post-footer">
        <div class="action-btns">

          <p-button icon="pi pi-heart" [outlined]="true" severity="secondary" title="愛心" size="small"></p-button>

          <p-button icon="pi pi-bookmark" [outlined]="true" severity="secondary" title="收藏" size="small"></p-button>

          <p-button (click)="op.toggle($event); copyPostRoute()" icon="pi pi-share-alt" [outlined]="true" label="分享"
            size="small" />

          <p-button (click)="isReplyPost = !isReplyPost;" icon="pi pi-comments" [outlined]="true" severity="secondary"
            label="留言" size="small"></p-button>

          <p-popover #op>
            <div class="flex flex-col gap-4 w-[25rem]">
              <div>
                <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">連結已複製！</span>
                <p-inputgroup>
                  <input pInputText [value]="postRoute" readonly class="w-[25rem]" />
                </p-inputgroup>
              </div>
            </div>
          </p-popover>
        </div>

        <div class="tag-list" *ngIf="post.postTag">
          <i class="pi pi-tag"></i>
          <p-tag *ngFor="let tag of post.postTag.split(',')" [value]="tag.trim()" [rounded]="true"
            severity="secondary"></p-tag>
        </div>

      </div>

      @if(isReplyPost){
      <p-card class="reply-card">
        <!-- 留言區 -->
        <form #form="ngForm" (ngSubmit)="onSubmit(postForm)" class="add-post-form">

          <div class="field">
            <label for="content">留言 *</label>
            <textarea id="content" pTextarea [(ngModel)]="new_mainContent" name="mainContent" rows="8" class="w-full"
              placeholder="請輸入文章內容"></textarea>
          </div>

          <div class="field">
            <label>附圖</label>
            <p-fileupload name="images[]" [customUpload]="true" (onSelect)="onSelect($event)" [auto]="false"
              [multiple]="true" accept="image/*" maxFileSize="5000000" mode="advanced" chooseLabel="選擇" cancelLabel="取消"
              [showUploadButton]="false">
              <ng-template #empty>
                <div>可將圖片拖曳進方框內上傳</div>
              </ng-template>
            </p-fileupload>
          </div>
          <div class="form-actions">
            <p-button label="送出" icon="pi pi-send" type="submit"></p-button>
          </div>
        </form>

      </p-card>
      }
      <p-divider></p-divider>
      @if (replies.length > 0) {
      <p-card class="reply-card">
        <h4>留言 ({{ replies.length }})</h4>
        @for (r of replies; track r.replyContent) {
        <div class="reply-item">
          <p-divider></p-divider>
          <span class="author-name">{{ r.sendUserName }} #{{ r.sendUserId }}</span>
          <span class="author-meta">
            <i class="pi pi-calendar"></i> {{ r.createdAt | date:'yyyy-MM-dd' }}
          </span>
          <p>{{ r.replyContent }}</p>
          @for (img of r.moreImages; track img.imageUrl) {
          <img class="w-100 p-1" [src]="img.imageUrl" alt="附圖" />
          }
        </div>
        }
      </p-card>
      }

    </p-card>



  </div>
</div>

<p-toast />