<div class="post-bg" *ngIf="post && post">

  <!-- Hero 封面區 -->
  <div class="hero-cover">
    <img [src]="getMainImage()" alt="Article Cover" />
    <div class="hero-overlay"></div>
  </div>

  <div class="container">
    <div class="hero-tags">
      <a routerLink="/forum">
        <p-tag value="回到社群" severity="info" class="me-2"></p-tag></a>
      <p-tag *ngIf="post.postCategoryName" [value]="post.postCategoryName!" severity="info" class="me-2"></p-tag>
    </div>

    <p-card styleClass="article-card" class="">
      <!-- 標題 -->
      <h1 class="article-title">
        {{ post.title }}
      </h1>

      <!-- 作者資訊列 -->
      <div class="meta-row">
        <div class="author-info">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
            size="large">
          </p-avatar>
          <div class="author-text">
            <span class="author-name">{{postUserName}} #{{ post.userId }}</span>
            <span class="author-meta">
              <i class="pi pi-calendar"></i> {{ post.postDate | date:'yyyy-MM-dd' }}
            </span>
          </div>
        </div>

      </div>
      <p-divider></p-divider>

      <!-- 文章正文 -->
      <article class="article-content">
        <p>{{ post.mainContent }}</p>

        @for(p of post.moreImages;track p.imageUrl){
        <img class="w-100 p-4" [src]="p.imageUrl" alt="附圖" />
        }

      </article>

      <p-divider></p-divider>

      <!-- 底部互動區 -->
      <div class="post-footer">
        <div class="action-btns">

          <p-button icon="pi pi-thumbs-up" [outlined]="true" severity="secondary" title="讚耶" size="small"></p-button>

          <p-button icon="pi pi-bookmark" [outlined]="true" severity="secondary" title="收藏文章" size="small"></p-button>
          <!-- <p-button icon="pi pi-share-alt" [outlined]="true" severity="secondary" title="分享文章" size="small"></p-button> -->

          <p-button (click)="op.toggle($event); copyPostRoute()" icon="pi pi-share-alt" [outlined]="true" label="分享"
            size="small" />
          <p-popover #op>
            <div class="flex flex-col gap-4 w-[25rem]">
              <div>
                <span class="font-medium text-surface-900 dark:text-surface-0 block mb-2">連結已複製！</span>
                <p-inputgroup>
                  <input pInputText [value]="postRoute" readonly class="w-[25rem]" />
                </p-inputgroup>
              </div>
            </div>
          </p-popover>

        </div>

        <div class="tag-list" *ngIf="post.postTag">
          <i class="pi pi-tag"></i>
          <p-tag *ngFor="let tag of post.postTag.split(',')" [value]="tag.trim()" [rounded]="true"
            severity="secondary"></p-tag>
        </div>

      </div>

    </p-card>
  </div>
</div>