<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CampGo 登入</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>

  <div class="login-container">

    <div class="logo-section">
      <h1>🏕 CampGo</h1>
      <p>探索最美的露營地</p>
    </div>

    <form class="login-form">

      <h2>會員登入</h2>

      <div class="input-group">
        <label>電子信箱</label>
        <input [(ngModel)]="email" name="email" type=" email" placeholder="請輸入 Email">
      </div>

      <div class="input-group">
        <label>密碼</label>
        <input [(ngModel)]='password' name="password" type="password" placeholder="請輸入密碼">
      </div>

      <div class="action-row">
        <label class="remember">
          <input type="checkbox">
          記住我
        </label>

        <a href="#">忘記密碼？</a>
      </div>
      <button (click)="GetloginApi({email,password})" type="button" class="login-btn">
        登入
      </button>
      <div class="divider">
        <span>或</span>
      </div>

      <button type="button" class="google-btn">
        Google 登入
      </button>

      <p class="register-text">
        還沒有帳號？
        <a href="#">立即註冊</a>
      </p>

    </form>

  </div>

</body>

</html>
