<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CampGo 註冊</title>
  <link rel="stylesheet" href="./owner-register.css">
</head>

<body>

  <div class="register-page">
    <div class="register-card">

      <div class="logo">
        <div class="icon">🏕️</div>
        <h1>CampGo</h1>
        <p>加入我們，開始你的露營旅程</p>
      </div>

      <form class="register-form">

        <div class="form-group">
          <label for="name">姓名</label>
          <input [(ngModel)]="ownerData.Name" name="name" type="text" placeholder="請輸入姓名" />
        </div>

        <div class="form-group">
          <label for="phone">身分證字號</label>
          <input [(ngModel)]="ownerData.IdNumber" name="idNumber" type="idNumber" placeholder="請輸入 身分證字號" />
        </div>

        <div class="form-group">
          <label for="Address">地址</label>
          <input [(ngModel)]="ownerData.Address" name="Address" type="Address" placeholder="請輸入 地址" />
        </div>

        <div class="form-group photo-upload">
          <label class="file-btn">
            選擇圖片
            <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
          </label>


          <button type="button" class="upload-btn" (click)="submitowner()">
            送出
          </button>@if (previewUrl) {
          <img [src]="previewUrl" class="preview-img" />
          }
        </div>


      </form>

    </div>
  </div>

</body>

</html>
